html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eee !important;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.fd3-background {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    padding-bottom: 15%;
    background-size: cover !important;
}

p {
    padding: 0;
    margin: 0;
}

.fd3-title-container {
    padding: 40px 0;
    background: none;
    color: #fff;
}
.fd3-title-container h2.title {
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    line-height: 50px;
    max-width: 1000px;
    margin: 0 auto 10px;
}
.fd3-title-container h3.sub-title {
    font-family: "Open Sans", Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    max-width: 1000px;
    margin: 0 auto;
}

.fd3-capture-container {
    background: none;
    box-sizing: border-box;
    /* background: url(http://wallpapercave.com/wp/8Cje0K1.jpg) */
    padding: 10px 10px 10px 10px;
    width: 700px;
    margin: 0 auto;
}

.fd3-panel {
    margin: 6px auto;
    padding: 20px 20px 20px;
    width: 700px;
    height: auto;
    background: rgba(255, 255, 255, 0.94);
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    box-sizing: border-box;
}

.fd3-capture-panel {
    margin: 8px 0 0;
    padding: 10px;
    background: #f6f6f6;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}
.fd3-capture-panel p {
    color: #333;
}

.fd3-header {
    color: #333;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -0.03em;
    line-height: 1;
}

.fd3-panel-top-small-text {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #e8e8e8;
    color: #666;
    text-align: center;
    font-family: Georgia, Times, serif;
    font-weight: normal;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    line-height: 1;
}

.fd3-panel-extra-text {
    color: #666;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    margin: 10px 0;
    text-align: left;
    letter-spacing: -0.03em;
    line-height: 1;
}

.fd3-sub-header {
    color: #333;
    text-align: center;
}

.form-group label {
    font-size: 12px;
    margin: 0;
}

.fd3-capture-input-container {
    box-sizing: border-box;
    padding: 22px;
    border-left: 1px solid #e8e8e8;
}

.fd3-panel-header {
    text-align: center;
    font-size: 19px;
    margin: 10px 0;
}

.fd3-subscribe-btn {
    color: #fff !important;
    margin: 10px 0 0;
}

.form-group {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.fd3-capture-panel .left-side {
    padding: 10px 10px 10px;
}
.fd3-capture-panel .left-side img {
    float: left;
    margin: 0px 5px 0px;
    line-height: 1;
}
.fd3-capture-panel .left-side p {
    font-size: 13px;
    letter-spacing: 0.06em;
}

.footer {
    text-align: center;
    margin: 8px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.footer .fd3-copyright a.fd3-powered-by {
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}

/*

Extra small
<576px	Small
≥576px	Medium
≥768px	Large
≥992px	Extra large
≥1200px

 */


/* Responsive styles */

@media all and (max-width: 699px) {

    .fd3-capture-container {
        width: auto !important;
    }

    .fd3-capture-container .fd3-panel {
        width: auto !important;
        padding: 5% !important;
    }

    .fd3-capture-container .foreground_image {
        max-width: 100% !important;
    }

}

@media all and (max-width: 380px) {

    .fd3-capture-container  {
        padding: 5% !important;
        width: auto !important;
        margin:0 5px;
    }

}

